*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: black;
  padding: 10px;
  color:white
}

header {
  display: flex;
  background-color: black;
  padding: 20px;
  justify-content: center;
}

h1{
  font-size: 18px;
}

nav{
  display: flex;
  justify-content: space-between;
  gap:15px;
}

main{
  padding: 10px;
  display: flex;
  height: calc(100vh - 60px);
  background-color: rgb(179, 178, 178);
}

a {
  text-decoration: none;
  color:white
}

a:hover {
  opacity: 0.8;
}

.active-link {
  color :rgb(68, 192, 57);
}